html, body{
    background-color: #F28118;
    height: 100svh;
    width: 100svw;
    padding: 0;
    margin: 0;
}

.container-main{
    display:flex;
    justify-content: center;
    align-items: center;
}

.container-calculator{
    display:flex;
    flex-direction: column;
    border: 3px solid black;
    height: 735px;
    width: 411.09px;
}

.numpad{
    display:grid;
    direction: rtl;

}