html, body{
    /* background-color: #F28118; */
    height: 100svh;
    width: 100svw;
    padding: 0;
    margin: 0;
}


main{
    display:flex;
    justify-content: center;
    align-items: center;
}

.calculator-container{
    background-color: #F28118;
    display:grid;
    justify-content: center;
    grid-template-rows: 1fr 5fr 2fr 5fr;
    height: 735px;
    width: 411.09px;
    margin-top: 30px;
}

.top-decal{
    background-color: #2D231A;
    height: 41px;
    border-radius: 14px;
    margin-top: 10px;
}

.screen-container{
    display: flex;
    justify-content: center;
    background-color: #2D231A;
    border-radius: 20px;
    width: 362.62px;
    height: 300px;
}

.screen-container:before{
    content: "";
    position: absolute;
    width: 313px;
    height: 25px;
    border-radius: 15px;
    background-color: #352B21;
    margin-top: 5px;
    transform: perspective(18px) rotateX(-10deg);
    z-index: 2;
}

.screen-container:after{
    content: "";
    position: absolute;
    border-radius: 20px;
    width: 307px;
    height: 128px;
    background-color: #1B150F;
    margin-top: 9.9rem;
    transform: perspective(17px) rotateX(3deg);
    z-index: 0;
}

#input-form{
    box-sizing: border-box;
    padding: 10px;
    position:relative;
    outline:none;
    background-color: #303215;
    border-radius: 15px;
    height: 170px;
    width: 275px;
    border: 0;
    color: #DCCE4C;
    margin-top: 23px;
    z-index: 1;
}

.mid-decal{
    display:grid;
    grid-template-columns: repeat(11, 1fr);
    margin: 10px 0px;
}
.mid-decal .left{
    display:grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: 1fr;
    grid-column: 6 span;
    grid-row: 2 span;
    height: 70px;
    margin: 2px 0px 15px 0px;
}

.mid-decal .right{
    display:flex;
    flex-direction: column;
    height: auto;
    width: auto;
    grid-column: 5 span;
    grid-row: 2 span;

    & div{
        background-color: #2B2B2B;
        height: 30px;
        border-radius: 12px;
        margin-bottom: 10px;
        border: 1px solid black;
    }

}



.grid-container{
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    height: 271px;
    width: auto;
}

.operations{
    display: grid;
    grid-column: 4;
    grid-row: 4 span;
}

.numpad{
    display:grid;
    direction: rtl;
    grid-template-columns: repeat(3, 1fr);
    grid-column: 3 span;
    grid-row: 3 span;
}

.calc-btn{
    height: 3rem;
}

#result-btn{
    grid-column: 2 span;
}
