html, body{
    background-color: #F28118;
    height: 100svh;
    width: 100svw;
    padding: 0;
    margin: 0;
}


main{
    display:flex;
    justify-content: center;
    align-items: center;
}

.calculator-container{
    display:flex;
    flex-direction: column;
    border: 3px solid black;
    height: 735px;
    width: 411.09px;
}

#input-form{
    height: 2rem;
}
.grid-container{
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

.operations{
    display: grid;
    grid-column: 4;
    grid-row: 4 span;
}

.numpad{
    display:grid;
    direction: rtl;
    grid-template-columns: repeat(3, 1fr);
    grid-column: 3 span;
    grid-row: 3 span;
}

.calc-btn{
    height: 3rem;
}
